<section id="ourExpertise " class="main-bg my-5">
    <div class="container">
        <div class="row ">
<div class="col-md-6">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/J0uzhptIFLw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="col-md-6">
    <div class="ourExp-det text-white p-3">
        <h2>OUR EXPERTISE</h2>
        <h3>Gamers around the world join us to promote one clan
           
        </h3>
        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
    <button class="btn btn-outline-info ">Join Our Team</button>
    </div>
</div>
        </div>
    </div>
</section>



